model_predictor: CVN
params:
  dt: 0.2
  prediction_horizon: 1.2
  history_length: 1
  log_cost: True

  action:
    span: 360
    n_actions: 10
  
  cost: # Only applicable to MPC controller
    sigma:
      h: 1.0
      s: 0.66
      r: 0.33
    q:
      obs: 1.0
      goal: 5.0
      wind: 5.0

    discrete_cost_type: "winding"

  predictor:
    num_samples: 20
    sample_angle_std: 25